body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3e5f5; /* Lila claro */
}

header {
    background-color: #6a0dad; /* Lila oscuro */
    color: #f3e5f5; /* Lila claro */
    padding: 20px;
    text-align: center;
}

nav ul {
    background-color: #6a0dad; /* Lila oscuro */
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #f3e5f5; /* Lila claro */
    text-decoration: none;
}

section {
    padding: 20px;
    background-color: #f3e5f5; /* Lila claro */
    color: #6a0dad; /* Lila oscuro */
}

section h2 {
    color: #6a0dad; /* Lila oscuro */
}

.about-photo {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border: 2px solid #6a0dad; /* Borde lila oscuro */
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}


